/* FONT */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0;
}
/* LAYOUT */
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* padding: 3rem 0; */
}

.column-2{
    width: calc(100%/2 - 40px);
    flex-grow: 1;
    flex-basis: 400px;
}

.column-3{
    width: calc(100%/3 - 40px);
    flex-grow: 1;
    flex-basis: 300px;
}
.bg-color{
    background-color: #dceaf5;
}
.align-center{
    align-items: center;
    align-self: center;
}
section{
    margin: 5rem 0;

}


/* NAVIGATION */
.menu{ 
    display: flex;
    list-style: none;
}
.menu li{
    padding: 0 1rem;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4rem;
}

.header-logo{
    font-size: 1.5rem ;
    color:#063255 ;
}
.cta-btn a{
    background-color: #f3d7d0;
    color: #f58a07;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    opacity: 0.8;
}
/* HERO-SECTION */
.hero-img{
    /* width: 100%; */
    vertical-align: bottom;

}
.hero-text h1{
    font-size: 4rem;
    color: #063255;
    margin-bottom: -1rem;
}
.sos-btn{
    background-color: #f58a07;
    height: 2rem;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin: 1rem;
    color: #ffffff;
}
.hero-buttons{
    margin:3rem 0;
    margin-left: -1.3rem;

}
/* .hero-text{
    padding: 3rem 0;
} */
.header-logos{
    padding:1rem 1rem;
    gap: 1rem;    
}


/* SECTORS */
.sectors h2{
    font-size: 2.5rem;
   color: #063255; 
}

/* SERVICES-SECTION */
.post-image{
    border-radius: 25px;
    width: 100%;
}
.post-a{
    color:#f58a07;  
}
.post-a::after{
    content:'\2192';
    
}
/* SOLUTIONS */
.icons{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 25px;
}
.icons-zip{
    margin: 2rem 0;
}
.solution h2{
    font-size: 2.5rem;
    margin: 0;
}

.solution .column-2{
    margin-top: 4rem;    
}
.solution .column-3{
    margin-bottom: 4rem;
}

/* ENERGY */
.plus{
    flex-wrap: nowrap;   
}
.energy h2{
    font-size: 3rem;
}
.energy h3{
    font-size: 2rem;
    color: #f58a07;
}
.energy h4{
    font-size: 1.5rem;
}
.back-back{
    position: relative;
}
.back-back::before{
    position: absolute;
    content: "";
    background-color: #f58a07;
    inset: 0 0 3.6% 0;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px; ;
    width: 9vw;
    opacity: 0.5;
}

   

/* Business-strategy */
.team-img{
    margin: 3rem 0rem;
    margin-left: 6rem;
    width: 100%;
    
}
.bs-btn{
    border: 1px solid #063255;
    padding: 0.5rem;
    border-radius: 30px;
    opacity: 0.6;
}

.bs-txt{
   margin-top: -5rem;
   margin-left: 2rem;
}
/* .bs-row2{
    margin: 3rem 0;
} */
.bs-row2 h2{
    font-size: 3rem;
}

.business-strategy .bg-color{
    border-radius: 20px;

}
.bs-ribbon{
    position: relative;
}
.ribbon{
    position: absolute;
    right: -48px;
    top: -75px;
}
.team-img{
    position: relative;
}
.team-img::before{
    position: absolute;
    content: "";
    background-color: #f78c09d0;
    inset: 0 0 1.6% 0;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px; ;
    width: 7vw;
    opacity: 0.9;
}

.bs-btn1{
    background-color: white;
    padding: 0.5rem;
    border-radius: 30px;
    color: #f58a07;
}
    
.business-strategy ul{
    display: flex;
    gap: 2.5rem;
    color: #0e2f4910;
    /* opacity: 0.6; */
}

.bs-header{
    padding: 2rem;
}


/* Experience */
.bg-img{
    background-image: url(../images/experience-image.png); 
    background-size: cover;
    background-position: center;
}
.bg-orange{
    background-color: #f58a07;
    align-self: center;
    margin: 4rem 0 ;  
}
.experience{
    position: relative;
    gap: 0;
}
.exp-text{
    margin: 15rem 1rem;
    font-size: 1.2rem;
    color: white;
   
}
.exp-container{
    max-width: 700px;
    margin: 0 auto;
    margin-right: 5rem;
}
.exp-text a {
    color: #f58a07;
    height: 50px;
    width: 150px;
    padding:1rem;
    background-color: white;
    border-radius: 30px;
    
}
.exp-text h2{
    font-size: 3rem;
}
/* DREAM */
.dream img{
    border-radius: 50px;
}
.dream-flex{
    flex-wrap: nowrap;
}
.dream h3{
    font-size: 1.5rem;
    margin: 0;
    color: #063255;
}
.dream h4{
    font-size: 1.2rem;
    margin: 0;
    color: #f58a07;
}
.dream h2{
    font-size: 3rem;
}

.post-image{
    width: 100%;   
}
.exp-row{
    gap: 0;
}
.play-btn{
    position: relative;
}
.play-btn::after{
    position: absolute;
}


/* BLOG-NEWS */
.blog-news img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog-news .column-3{
    background-color: white;
    border-radius: 20px;
    margin: 3rem 0;
    
}
.blog-news h3{
    font-size: 1.4rem;

}
.blog-news h2{
    padding-top: 5rem;
    font-size: 2.5rem;
}
.blog-txt{
    padding: 1rem;
}

/* fOOTER */
.footer-wrap{
    flex-wrap: nowrap;
}
.bg-color2{
    background-color: #063255;
}
.footer{
    margin-top: -5rem;
    color: white;
}
.ftr-row{
    margin: 2rem 0;
}
.footer .column-3{
    margin: 4rem 0;
}
.footer a{
    color: white;    
}
 
.footer{
    position: relative;
    margin-bottom: -4rem;
    

}
.footer::after{
    position: absolute;
    content: "";
    width: 60px;
    background-color:#f58a07;
    inset: 6% 0 40% 96.7%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.footer::before{
    position: absolute;
    content: "";
    background-color: #f58a07;
    inset: 60% 0 0 0;
    border-top-right-radius: 10px;
    width: 3.12rem;
}
.footer i{
    padding: 1rem;
       
}
.ftr-last-r{
   margin-top: -6rem;
}
.bespoke{
    font-size: 2rem;
}
.footer li{
    padding: 0.5rem 0;
}
.search-bar{
    height: 50px;
    width: 350px;
    border-radius: 30px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.s-btn{ 
    background-color: #f58a07;
    height: 50px;
    padding: 0.8rem 3rem;
    width: 250px;
    border-radius: 30px;
}
.copyright{
    font-size: 1rem;
}
.copyright::before{
    content:"\00a9";
}
.privacy a{
    padding: 1rem;
}